* {
  -outline: 1px dashed #f00;
}

body {
  background-color: var(--page-bg);
}

.Header {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  min-width: 270px;
  height: 100%;
}
.Header .Logo {
  text-align: center;
  border-radius: 0 0 15px 0;
  background-color: var(--nav-bg);
}

.Header .gnb {
  height: 100%;
}
.Header .gnb .home {
  margin: 0 0 15px 15px;
  border-radius: 15px;
  background-color: var(--hover-green);
}
.Header .gnb .home .nav_list a {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;

  font-size: 19px;
  font-weight: 400;
}

.Header .gnb .home .nav_list a > span {
  display: block;
}
.Header .gnb ._menu {
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: var(--nav-bg);
}

.Header .gnb ._menu .nav_list .nav_tit {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  padding: 20px 20px 20px 35px;

  font-size: 19px;
  font-weight: 400;

  color: var(--nav-font);
  cursor: pointer;

  transition: 0.5s;
}
.Header .gnb ._menu .nav_list .nav_tit.nav_on::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--green);
}
.Header .gnb ._menu .nav_list .nav_tit.nav_on {
  color: var(--green);
}

.Header .gnb ._menu .nav_list .nav_tit i:last-child {
  margin-left: auto;
  transition: 0.3s;
}

.Header .gnb ._menu .nav_list .nav_tit.nav_on i:last-child {
  transform: rotate(180deg);
}
.Header .gnb ._menu .nav_list .nav_tit span {
  display: block;
}

.Header .gnb ._menu .nav_list .drop_down {
  visibility: hidden;
  text-align: right;
  max-height: 0;
  opacity: 0;
  /* transition: all 0.3s; */
}
.Header .gnb ._menu .nav_list.nav_on .drop_down {
  visibility: visible;
  max-height: 100%;
  padding: 0px 20px 20px 35px;
  opacity: 1;
}

.Header .gnb ._menu .nav_list .drop_down > li {
  margin: 0 0 15px 0;
}
.Header .gnb ._menu .nav_list .drop_down > li:last-child {
  margin: 0;
}

.Header .gnb ._menu .nav_list .drop_down > li > a {
  display: block;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 0;
  transition: 0.3s;
}

.Header .gnb ._menu .nav_list .drop_down > li > a:hover,
.Header .gnb ._menu .nav_list .drop_down > li.nav_on > a {
  margin-right: 15px;
  color: var(--green);
}
